<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <header>
        <h3><a href="/">Home</a></h3>
        <h3><a href="/user">Create User</a></h3>
    </header>
    <main>
        <form action="/user/addUser" method="POST">
            <div>
                <label for="user">User</label>
                <input type="text" name="user" id="user">
            </div>

            <button class="btn" type="submit">Create User</button>
        </form>
    </main>
</body>
</html>